#menu{
    margin: 5vh 5vw;
    position: relative;
    #avatar{
        position: absolute;
        right: 0;
        top: 0;
    }
    .ant-select-selector {
        height: 64px !important;
    }
}