#auth{
    display: flex;
    margin: 50px;
    h2{
        text-align: center;
    }
    #login{
        width: 50vw;
        #output-error-login{
            color: red;
            opacity: 0;
            transition: opacity .3s ease;
        }
        
    }
    #register{
        width: 50vw;
        #output-error-register{
            color: red;
            opacity: 0;
            transition: opacity .3s ease;
        }
    }
}