#pokedex{
    margin: 5vh 5vw;
    #pokedex-galery{
        margin: 5vh 5vw;
        .pokemonContainer{
            display: inline-block;
            width: 17.8vw;
            text-align: center;
            padding: 2vw;
        }
    }
}